
@keyframes nav-bor-anim{
    from{
        border-bottom-color: transparent;
    }
    to{
        border-bottom: 2px solid #fff;
    }
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
    height: 100%;
    display: flex;
}
.container{
    max-height: 500px;
    display: flex;
    align-items: center;
    margin: auto 0;
    background-color: rgb(109, 76, 228);
    padding: 10px;
    width: 5000px;
}
.links{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
nav ul li:nth-of-type(1), nav ul li:nth-of-type(2), nav ul li:nth-of-type(3){
    border-bottom: 2px solid #fff;
    animation: nav-bor-anim 1.5s ease-in;
    margin: 0px 0px 50px 0px;
    padding:0px 0px 50px 0px;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
nav{
    width: 200px;
    display: flex;
    align-items: center;
}
header{
    max-width: 500px;
}
header h1{
    font-weight: 400;
}
header p{
    line-height: 1.4;
}
main{
    display: flex;
    align-items: center;
}
section{
    height: 500px;
    display: flex;
}
article{
    height: 100%;
    width: 400px;
    background-color: rgb(255, 255, 255);
    transform: skew(10deg, 10deg) rotate(-10deg);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: background-color .5s;
}
section img{
    transition: transform .5s;
}
section article a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
section article a div{
    transition: transform .5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
section article a div span{
    transition: font-size .5s;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
.com{
    position: absolute;
    left: 750px;
    width: 400px;
}
.men{
    position: absolute;
    left: 1200px;
    width: 280px;
    filter: saturate(150%);
}
.coup{
    position: absolute;
    left: 1600px;
    width: 400px;
}
section:nth-child(1) article a div{
    height: 50px;
    width: 400px;
    background-color: rgb(255, 100, 73);
}
section:nth-child(2) article a div{
    height: 50px;
    width: 400px;
    background-color: rgb(91, 196, 77);
}
section:nth-child(3) article a div{
    height: 50px;
    width: 400px;
    background-color: rgb(252, 190, 55);
}
section:hover>article{
    background-color: rgb(181, 180, 255);
}
section:hover>img{
    transform: scale(1.1);
    filter: saturate(120%);
}
section:hover>article>a>div{
    transform: scale(1.1) skew(-15deg, -15deg) rotate(15deg);
    font-style: normal;
    font-size: 24px;
}