
@keyframes nav-bor-anim{
    from{
        border-bottom-color: transparent;
    }
    to{
        border-bottom: 2px solid #fff;
    }
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
    height: 100%;
    display: flex;
}
.container{
    max-height: 500px;
    display: flex;
    align-items: center;
    margin: auto 0;
    background-color: rgb(109, 76, 228);
    padding: 10px;
    width: 5000px;
}
.links{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
nav ul li{
}
nav ul li:nth-of-type(1), nav ul li:nth-of-type(2), nav ul li:nth-of-type(3){
    border-bottom: 2px solid #fff;
    animation: nav-bor-anim 1.5s ease-in;
    margin: 0px 0px 50px 0px;
    padding:0px 0px 50px 0px;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
nav{
    width: 200px;
    display: flex;
    align-items: center;
}
header{
    max-width: 500px;
}
header h1{
    font-weight: 400;
}
header p{
    line-height: 1.4;
}
section{
    height: 500px;
    display: flex;
    align-items: center;
}
article{
    height: 100%;
    width: 400px;
    background-color: rgb(226, 226, 226);
    transform: skew(10deg, 10deg) rotate(-10deg);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
img:nth-of-type(1){
    position: absolute;
    left: 750px;
    width: 400px;
}
img:nth-of-type(2){
    position: absolute;
    left: 1200px;
    width: 280px;
    filter: saturate(150%);
}
img:nth-of-type(3){
    position: absolute;
    left: 1600px;
    width: 400px;
}
article:nth-child(1) a div{
    height: 50px;
    width: 400px;
    background-color: rgb(255, 100, 73);
}
article:nth-child(2) a div{
    height: 50px;
    width: 400px;
    background-color: rgb(91, 196, 77);
}
article:nth-child(3) a div{
    height: 50px;
    width: 400px;
    background-color: rgb(252, 190, 55);
}
section>a:nth-of-type(1){
    position: absolute;
    top: 560px;
    left: 970px;
}
section>a:nth-of-type(2){
    position: absolute;
    top: 560px;
    left: 1420px;
}
section>a:nth-of-type(3){
    position: absolute;
    top: 560px;
    left: 1860px;
}